[submodule "lib/hexicord"]
	path = lib/hexicord
	url = https://github.com/Hexicord/Hexicord
	branch = dev-foxcpp
[submodule "lib/libnamedkitten"]
	path = lib/libnamedkitten
	url = https://github.com/namedkitten/libnamedkitten
[submodule "lib/redisclient"]
	path = lib/redisclient
	url = https://github.com/nekipelov/redisclient.git
